<div class="row justify-content-around main-row"> 
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="row justify-content-around" style="position: relative; top: 8%">
            <img style="border-radius: 100px; background-color: black; width: 100px; height: 100px;" src="../../../assets/logo.png">
        </div>
        <div class="main-div">
                <h2 class="text-center" >Your Invoice</h2>
                <p class="text-center">Thank you for your purchase! Your invoice details are below.</p>
                <div class="row justify-content-between" style="padding-left: 20px; padding-right: 20px">
                    <b>Tax Invoice  #02104-0522768</b>
                    <p style="color: blue">View details</p>
                </div>
                <div style="border: 1px solid black; border-radius: 5px; padding: 20px; padding-bottom: 0px;">
                    <div class="row justify-content-between">
                        <div>
                            <p>Date:</p>
                            <p>Brand id:</p>
                            <p>Billed to:</p><br>
                            <p>Subscription charges:</p>
                        </div>
                        <div>
                            <p>Oct 6, 2018</p>
                            <p>BABhhpJJ-oU</p>
                            <p>American Express xxxx <br> xxxx xxxx 1006</p>
                            <p>$12.95</p>
                        </div>
                    </div>
                    <div class="row justify-content-end" style="padding: 20px; background-color: #f2f2f2f2">
                        <b>Charged: $12.95</b>
                    </div>          
                </div>
                <div class="text-center" style="margin-top: 20px;">
                    <p class="btn btn-success">View all Invoices</p>
                </div>    
        </div>
    </div>
</div>
