img{
    height: 200px;
    width: 150px;
}

.card{
    padding: 20px;
}

#relevance{
    font-size: 14px;
}

#relevance:hover{
    cursor: pointer;
}

#lowtohigh{
    font-size: 14px;
}

#lowtohigh:hover{
    cursor: pointer;
}

#hightolow{
    font-size: 14px;
}

#hightolow:hover{
    cursor: pointer;
}