<div *ngIf="selection" class="container">
  <div class="row">
    <div class="col-lg-6">
      <carousel [noPause]="false" [noWrap]="true" [interval]="500">
        <slide *ngFor="let image of selection.images">
          <img src="{{image.img}}" alt="slides">
        </slide>
      </carousel>
    </div>

    <div class="col-lg-6">
      <b>{{selection.Name}}</b>
      <li>{{selection.RAM}}GB RAM</li>
      <li>{{selection.Primary_Camera}}MP Primary Camera</li>
      <li>{{selection.Secondary_Camera}}MP secondary Camera</li>
      <li>{{selection.ROM}}GB ROM</li>
      <li>{{selection.Battery}}mAh Battery</li>
      <li>{{selection.Screen}} inch screen</li>
      <li>{{selection.Display}} Display</li>
      <li>Qualcomm Snapdragon {{selection.Processor}} Processor</li>
      <li>{{selection.Warranty}} year(s) Warranty</li>
      <li>Rs.{{selection.Price}}</li>
  
      <button class="btn btn-primary" (click)="addToCart(selection)">{{buttonName}}</button>
      <button class="btn btn-danger">Buy Now</button>
      <br>
      <br>
      <span style="padding:15px;">
        <form #form="ngForm" (submit)="pincodeCheck(form)">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Pincode" type="text" name="pincode" [(ngModel)]="pincode" (keypress)="keyPress($event)" minlength=6 maxlength=6 required autocomplete="off">
          </mat-form-field>
          <button class="btn btn-info" [disabled]="!form.valid" type="submit" style="margin-left: 10px;">Check</button>
          <small *ngIf="this.value == true">Delivery takes 3-5 business days.</small>
          <small *ngIf="this.value == false">Not deliverable to this location.</small>
        </form>
      </span>
    </div>
  </div>
</div>

