<div class="container">
    <div class="row justify-content-center">
        <div class="card col-lg-4 col-md-4 col-sm-6" routerLink="/mobiles">
            <img src="../../assets/cat-mobile.jpg" class="card-img-top" alt="mobiles">
            <div class="card-body">
                <h5 class="card-title">Mobiles</h5>
                <p class="card-text">Upto 40% off</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-6" routerLink="/mobile-accessories">
            <img src="../../assets/cat-mobile-accessories.jpg" class="card-img-top" alt="accessories">
            <div class="card-body">
                <h5 class="card-title">Mobile Accessories</h5>
                <p class="card-text">Upto 70% off</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-6" routerLink="/home-appliances">
            <img src="../../assets/cat-home-appliances.png" class="card-img-top" alt="appliances">
            <div class="card-body">
                <h5 class="card-title">Home Appliances</h5>
                <p class="card-text">Upto 40% off</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-6" routerLink="/clothing">
            <img src="../../assets/cat-clothing.jpg" class="card-img-top" alt="clothing">
            <div class="card-body">
                <h5 class="card-title">Clothing</h5>
                <p class="card-text">Upto 60% off</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-6" routerLink="/home-furniture">
            <img src="../../assets/cat-home-furniture.jpeg" class="card-img-top" alt="furniture">
            <div class="card-body">
                <h5 class="card-title">Home Furniture</h5>
                <p class="card-text">Upto 50% off</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-6" routerLink="/groceries">
            <img src="../../assets/cat-groceries.jpg" class="card-img-top" alt="groceries">
            <div class="card-body">
                <h5 class="card-title">Groceries</h5>
                <p class="card-text">Save upto 20%</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>

        <div class="card col-lg-4 col-md-4 col-sm-6" routerLink="/offer-zone">
            <img src="../../assets/cat-offer-zone.png" class="card-img-top" alt="offers">
            <div class="card-body">
                <h5 class="card-title">Offer Zone</h5>
                <p class="card-text">Save upto 80%</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</div>